@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

body {
    font: 400 14px Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* input, buttons, textarea, button, h1, h2, h3, h4, p,  */
*{
    font: 400 12px Montserrat, sans-serif;
}