.profile_logout_button {
    height: 30px;
    color: #333;
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 0 24px;
    background-color: #FFF;
    transition: filter 0.5s;
    /* width: 100%;
    margin-top: 20px;
    margin-bottom: 20px; */
}

.profile_logout_button:hover{
    filter: brightness(70%);
}

.profile_title_user{
    color: #FFF;
    font-size: 12px;
}

.profile_navLink{
    margin-left: 5px;
    color: #FFF;
    transition: filter 0.5s;
}

.profile_navLink:hover{
    filter: brightness(80%);
    color: #FFF;
    text-decoration: none;
}

.profile_navLink_Icon{
    margin-left: 8px;
    color: #FFF;
}

.profile_badge{
    margin-right: 15px;
}

.profileFiBell{
    margin-left: 8px;
    transition: filter 0.5s;
    color: #FFF;
}

.profileFiBell:hover{
    filter: brightness(80%);
    color: #FFF;
    text-decoration: none;
}

#dropdownMenuButton{
    /* background-color: #09F4C4;
    border-color: #09F4C4; */
}